<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>CryptoEX</string>
	<key>CFBundleIdentifier</key>
	<string>net.github.rvalla.CryptoEX</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>Spanish</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>caac</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>Icono.icns</string>
	<key>NSHumanReadableCopyright</key>
	<string>GNU GPLv3</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>CryptoEX</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>ClassPath</key>
		<string>$JAVAROOT/CryptoEX.jar</string>
	</dict>
</dict>
</plist>
